.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: gray; }
}

.typing_effect {
    font-family: 'Inconsolata', monospace;
    animation:
      typing 1s steps(20, end),
      blink .8s infinite;
}