.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code_font {
    font-family: 'Inconsolata', monospace;
}

.typed-out{
      overflow: hidden;
      border-right: .15em solid orange;
      white-space: nowrap;
      animation:
      typing 1s steps(20, end) forwards;
      font-size: 1.6rem;
      width: 0;
    }
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}